<div id="map"></div>
<script>
  var rome  = {lat: 41.9102415, lng: 12.3959142};
  var walls = <%= raw Wall.geocodes.to_json %>;
  var map; // global
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
                zoom: 6,
                minZoom: 6,
                center: rome,
                //styles: [{ stylers: [ { hue: '#0000e6' }, { saturation: -50 } ] }]
              });
    walls.forEach(function(item, index) {
      marker = new google.maps.Marker({ position: {lat: item[0], lng: item[1]}, 
                                        map: map, 
                                        title: item[2],
                                        url: '/walls/' + item[3] });
      google.maps.event.addListener(marker, 'click', function() { window.location.href = this.url; });
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['WALLSDB_GOOGLE_MAP_API_KEY'] %>&signed_in=true&callback=initMap&libraries=places">
</script>


