<%= form_tag show_province_path, remote: true, id: 'search-province' do %>  
  <input class="typeahead" type="search" name="province" placeholder="Segli la città">  
  <input id="show_province" type="submit" value="invia"/>
<% end %>
<div id="province_walls">
</div>

<script>
  $(document).ready(function() {
  var provinces = <%= raw Province.order(:name).select(:name).pluck(:name).to_json %>;

  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;

      // an array that will be populated with substring matches
      matches = [];

      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');

      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push(str);
        }
      });

      cb(matches);
    };
  };

  $('.typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1}, 
    { name: 'provinces',
       source: substringMatcher(provinces)
     });
  });
</script>
