<%= form_tag show_province_path, remote: true, id: 'search-province' do %>  
  <input class="typeahead" type="search" name="province" placeholder="Segli la città">  
  <input id="show_province" type="submit" value="invia"/>
<% end %>

<div id="province_walls">
</div>

