<h1 class="hometitle">Muri d'Italia</h1> 

<ul>
  <% old_region = nil %>  
  <% @walls.each do |wall| %>  
    <% if old_region != (old_region = wall.province.region) %>  
      <h2><%= old_region  %></h2>
    <% end %>
    <li><%= wall.province.name %> <%= link_to wall, wall %></li>
  <% end %>
</ul>



