<h1 class="hometitle">Muri d'Italia</h1> 

<dl class='home-list'>
  <% old_region = nil %>  
  <% @walls.each do |wall| %>  
    <% if old_region != (old_region = wall.province.region) %>  
      <dt><%= old_region  %></dt>
    <% end %>
    <dd><%= wall.province.name %> <%= link_to wall, wall %></dd>
  <% end %>
</dl>



