<div class="row">
<div class="col-md-6">
  <h2>Palestre di arrampicata in Italia</h2>

  <dl class='home-list'>
    <% old_region = nil %>  
    <% @walls.each do |wall| %>  
      <% if old_region != (old_region = wall.province.region) %>  
        <dt><%= old_region  %></dt>
      <% end %>
      <dd><%= wall.province.name %> <%= link_to wall, wall %></dd>
    <% end %>
  </dl>
</div>

<div class="col-md-6">
  <div>
    <iframe src="//www.google.com/maps/embed/v1/place?key=<%= ENV['WALLSDB_GOOGLE_MAP_API_KEY'] %>&q=Via Stalingrado 59, 40126 Bologna (BO)">
    </iframe>
  </div>
</div>

<div class="col-md-6">
  <h2>Prossimi Eventi</h2>
  dsdds
</div>

<div class="col-md-6">
  <h2>Ultime Palestre Inserite</h2>
  dsd
</div>
</div>

