<div class="home-container">
<div class="home-contents"> 
  <%= render partial: 'typeahead_province' %>  
  <h2>Prossimi Eventi</h2>
  <%= render partial: 'next_events' %>  dsdds
  <h2>Ultime Palestre Inserite</h2>
  dsd
</div>

<div class="home-map">
  <%= render partial: 'main_google_map' %>  
</div>
</div><!-- home-container -->

