<div>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Descrizione</a></li>
  <li role="presentation"><a href="#images"      aria-controls="images"      role="tab" data-toggle="tab">Immagini</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content" style="margin: 30px;">
  <div role="tabpanel" class="tab-pane active" id="description">
    <%= render partial: 'form', locals: {event: @event} %>  
  </div>
  <div role="tabpanel" class="tab-pane" id="images">
    <%= render partial: 'images/form', locals: {what: @event} %>  
  </div>
</div>
</div>
