<div class="walls-list">
<% group_in(@walls, 4).each do |wall_group| %>  
  <div class="col-md-3">
    <% wall_group.each do |region, prov_walls| %>  
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title"><%= region %></p>
        </div>
        <div class="panel-body">
          <dl>
            <% prov_walls.each do |province, walls| %>  
              <dt><%= province %></dt>
              <% walls.each do |wall| %>  
                <dd><%= link_to wall, wall_path(wall) %> - <%= link_to(icon('external-link'), wall.web) unless wall.web.blank? %></dd>
              <% end %>
            <% end %>
          </dl>
        </div><!-- body -->
      </div><!-- panel -->
    <% end %>
  </div><!-- col -->
<% end %>
</div><!-- row -->
