<div class='container'>
<h2>Stiamo lavorando per automatizzare questa funzionalità.</h2>

<p>Intanto potete mandare una mail a <%= mail_to 'donapieppo@yahoo.it' %> 
se siete interessati a diventare amministratori del muro
<em><%= @wall %></em>
</p>
</div>
