@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "typeaheadjs";

body {
  // background: url(asset-path('esagono.svg')) no-repeat center top ;
}

/* NAVBAR */
.navbar {
  margin-bottom: 0;
  // background-color: transparent;
  .login-link {
    @extend .img-rounded;
    border: 1px solid blue;
  }
}
.navbar-icon {
  padding-top: 2px;
}
#footer {
  @extend .navbar;
  @extend .navbar-default;
  margin-top: 20px;
  padding: 20px 0;
}

/* FORMS */
input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
} 
input.boolean {
  width: auto;
}
input.integer {
  width: 8em;
  text-align: right;
}

.button {
  @extend .btn;
  @extend .btn-primary;
}
fieldset {
  margin-top: 10px;
  margin-bottom: 10px;
}
input.date_picker {
  width: 10em;
}
input.datetime_picker {
  width: 15em;
}

// ul with links expanded
li { list-style-type: none; }
ul.all_clickable {
  @extend .list-group;
  a {
    @extend .list-group-item;
    span { @extend .pull-right; }
  }
}
ul.bordered {
  @extend .list-group;
  li { @extend .list-group-item; }
}
span.actions {
  @extend .pull-right;
}

input#wall_cap { width: 10ex; }

.event {
  @extend .well;
  text-align: center;
}

@import 'home';
@import 'show';
@import 'edit';
