@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "typeaheadjs";

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  // background: url(asset-path('esagono.svg')) no-repeat center top ;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1, h2 {
  position: relative;
  font-size: 2em;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
h1:after, h2:after {
  content: "";
  background: #333333;
  top: 52px;
  position: absolute;
  height: 2px;
  left: 46%;
  width: 8%;
}

.centered {
  margin-left:  auto; 
  margin-right: auto; 
  text-align:   center;
}
.button {
  @extend .btn;
  @extend .btn-primary;
}

/* NAVBAR */
.navbar {
  margin-bottom: 0;
}
.navbar-icon {
  padding-top: 2px;
}

#footer {
  @extend .navbar;
  @extend .navbar-default;
  margin-top: 20px;
  padding: 20px 0;
}

/* FORMS */
input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
} 
input.boolean {
  width: auto;
}
input.integer {
  width: 8em;
  text-align: right;
}
input.date_picker {
  width: 10em;
}
input.datetime_picker {
  width: 15em;
}
fieldset {
  margin-top: 10px;
  margin-bottom: 10px;
}

li { list-style-type: none; }
ul.all_clickable {
  @extend .list-group;
  a {
    @extend .list-group-item;
    span { @extend .pull-right; }
  }
}
ul.bordered {
  @extend .list-group;
  li { @extend .list-group-item; }
}
span.actions {
  @extend .pull-right;
}

input#wall_cap { width: 10ex; }

@import 'home';
@import 'show';
@import 'edit';
@import 'event';
@import 'login';

#mapid { height: 180px; }

.dl-admins {
  dt {
    margin-top: 1ex;
  }
  dd {
    margin-left: 3ex;
  }
}

.walls-list {
  @include make-row();
  margin-top: 10px;
  dd {
    margin-left: 5px;
  }
}

.typeahead-header {
  font-size: 1.2em;
  font-weight: bold;
}


