@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "typeaheadjs";

body {
  background: url(asset-path('esagono.svg')) no-repeat center top ;
}
h1:first-letter, h2:first-letter {
  font-size:      130%;
  text-transform: capitalize;
}

/* NAVBAR */
.navbar {
  margin-bottom: 0;
  background-color: transparent;
}
.navbar-icon {
  padding-top: 2px;
}
#footer {
  @extend .navbar;
  @extend .navbar-default;
  margin-top: 20px;
  padding: 20px 0;
}

/* FORMS */
input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
} 
input.boolean {
  width: auto;
}
input.integer {
  width: 8em;
  text-align: right;
}
.button {
  @extend .btn;
  @extend .btn-primary;
}

fieldset {
  margin-top: 10px;
  margin-bottom: 10px;
}

input.date_picker {
  width: 10em;
}
input.datetime_picker {
  width: 15em;
}

// ul with links expanded
li { list-style-type: none; }
ul.all_clickable {
  @extend .list-group;
  a {
    @extend .list-group-item;
    span { @extend .pull-right; }
  }
}
ul.bordered {
  @extend .list-group;
  li { @extend .list-group-item; }
}
span.actions {
  @extend .pull-right;
}

dl.home-list {
  dd {
    padding-left: 20px;
  }
}

.wall {
  padding: 30px 20px;
  font-weight: bold;
  @include make-row();
  .wall-description {
    @include make-md-column(7);
  }
  .wall-gmap {
    @include make-md-column(5);
  }
}
.wall-form {
  @include make-row();
  .wall-main {
    @include make-md-column(12);
  }
  .wall-walls {
    @include make-md-column(12);
  }
  .wall-details {
    @include make-md-column(12);
  }
  .wall-submit {
    @include make-md-column(12);
  }
}

.wall-gallery {
  text-align: center;
}

ul.wall-circles {
  @extend .btn-group;
  @extend .btn-group-justified;
  li {
    @extend .btn;
    @extend .btn-info;
    text-align: center;
    margin: 10px;
    padding: 10px;
  }
  li.absent {
    @extend .disabled;
    // background-color: #ccc;
    // color: #aaa;
  }
}

div.home-header {
  color: #eee;
  background: url(asset-path('background1.jpg')) no-repeat center top;
  height: 600px;
  div.home-header-title {
    font-size: 40px;
    padding: 100px 50px;
    span {
      padding: 0 10px;
      background: rgba(127, 127, 127, 0.3);
    }
  }
  div.home-header-invite {
    font-size: 13px;
    color: #fff;
    background-color: $wall-blue;
    padding: 20px;
    float: right;
  }
}

div.home-container {
  @include make-row();
  .home-contents {
    @include make-md-column(6);
  }
  .home-map {
    @include make-md-column(6);
    #map {
      width: 100%;
      height: 800px;
    }
  }
}
