div.event-container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid #ccc;
  transition: 0.3s;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    cursor: pointer;
  }

  h3.event-date {
    color: #fff;
    float: left; 
    margin-right: 30px; 
    text-align: center;
    small {
      color: #fff;
    }
  }
  h3.event-head {
    margin-top: 20px;
    .city { 
      font-size: 16px;
      color: #333;
    }
  }
  .event-body {
    a, a:hover {
      color: #000;
    }
  }

  h3.event-wall {
    font-size: 120%;
  }

  .event-image img {
    width: 100%;
  }
}

