div.home-header {
  background: image_url('background.jpg') no-repeat center top;
  background-size: cover;
  min-height: 566px;
  margin: 0;
  div.home-header-title {
    font-size: 32px;
    @media (min-width: 992px) { font-size: 42px; }
    padding: 100px 50px;
    text-align: center;
    span {
      background: rgba(127, 127, 127, 0.2);
      padding: 0 10px;
      line-height: 0px;
      color: #fff;
    }
  }
  div.home-header-description {
    font-size: 16px;
    color: #fff;
    background-color: $wall-blue;
    padding: 20px;
    float: right;
    width: 300px;
    @media (min-width: 992px) { width: 500px; }
    text-align: right;
  }
}


div#wall-header {
  width: 100%;
  background-size: cover;
  border-top: 1px solid #fff;
  margin-top: 0;
  margin-bottom: 20px;
  color: #000;
  h1 {
    color: #fff;
    background-color: #333;
    opacity: 0.60; 
    filter: alpha(opacity=60);
    margin-top: 30px;
    padding: 20px;
    font-weight: 300;
  }
  div.wall-description {
    width: 60%;
    margin-left: 35%;
    text-align: right;
    opacity: 0.65; 
    filter: alpha(opacity=65);
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    padding: 20px;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
