div.home-header {
  background: url(asset-path('background1.jpg')) no-repeat center top;
  min-height: 566px;
  margin: 0;
  div.home-header-title {
    font-size: 32px;
    @media (min-width: 992px) { font-size: 42px; }
    padding: 100px 50px;
    text-align: center;
    span {
      background: rgba(127, 127, 127, 0.2);
      padding: 0 10px;
      line-height: 0px;
      color: #fff;
    }
  }
  div.home-header-description {
    font-size: 14px;
    color: #fff;
    background-color: $wall-blue;
    padding: 20px;
    float: right;
    width: 300px;
    @media (min-width: 992px) { width: 500px; }
    text-align: right;
  }
}

.home-map {
  margin: 20px 0;
  #map {
    width: 100%;
    height: 600px;
    filter: grayscale(80%);
  }
}

#search-province {
  margin: 20px 10px;
}
#search-province-home {
  margin-top: 10px;
  input.form-control {
    width: 300px;
  }
}
ul.home-walls-list {
  @extend .list-group;
  a { @extend .list-group-item; }
}

