div#show_wall {
  iframe#wall_map {
    width: 100%;
    height: 220px;
  }
  a.wall_add_event {
    @extend .button;
    @extend .btn-lg;
    margin: 20px 100px;
  }
}

div.wall-description {
  background-color: #eee;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  font-size: 120%;
}
div.wall-details {
  width: 100%;
  display: block;
}
ul.wall-circles {
  margin: 10px auto;
  li {
    float:  left;
    height: 12em;
    width:  12em;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    padding-top: 3em;
    margin: 10px;
    background: #8bacbd;
    opacity: .8;
  }
  li.absent {
    opacity: .3;
  }
}
ul.wall-circles:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}



