div#show_wall {
  iframe#wall_map {
    width: 100%;
    height: 220px;
  }
  a.wall_add_event {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-default;
    margin: 20px 100px;
  }
  .unverified {
    // @extend .alert;
    // @extend .alert-danger;
    margin: 30px;
    text-align: center;
    font-size: 160%;
  }
}

div.wall-details {
  @include make-row();
  div.col {
    @include make-md-column(3);
  }
  div.wall-detail {
    margin-bottom: 2em;
    height: 20em;
    border: 1px solid #111;
    font-weight: bold;
    text-align: center;
    padding: 2em 2em;
    opacity: .8;
    h3 {
      font-size: 18px;
    }
    p {
      color: #888;
    }
  }
  .absent {
    opacity: .3;
  }
}
#openings_dl {
  dd span {
    display: inline-block;
    width: 12ex;
  }
}


