$dm-green: #696;

$navbar-height: 50px;
$font-size-base: 12px;

$font-size-h1: 24px;
$font-size-h2: 20px;

// $navbar-inverse-bg: $dm-green; 
// $navbar-inverse-color: #ffffff;
// $navbar-inverse-link-color: #fff;
// $navbar-inverse-link-hover-color: #B3FF00;

$grid-float-breakpoint: 1024px;
